<!DOCTYPE html>
<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<h2>Contact us</h2>
		<p>This is a project for the course M7012E Pervasive Computing</p>
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<h3>We are ...</h3>
		<div class="row">
			<div class="large-5 columns">
				<div class="panel">
					<h6>Name</h6>
					<p>Benjamin Bill Planche</p>
					<p>Bryan Malyn</p>
					<p>Daniel Buldon Blanco</p>
					<p>Manuel Cerrillo Bermejo</p>
				</div>
			</div>

			<div class="large-5 columns">
				<div class="panel">
					<h6>Email</h6>
					<p>benpla-3@student.ltu.se</p>
					<p>brymal-3@student.ltu.se</p>
					<p>danbul-3@student.ltu.se</p>
					<p>mancer-3@student.ltu.se</p>
				</div>
			</div>
		</div>
		

		<h3>Related sites</h3>

        <div class="row">
          <div class="large-6 columns">
            <a href="https://github.com/PervasiveComputing" class="small button">GitHub repo</a>
            <a href="#" class="small button">Google drive</a>
          </div>
        </div>
	</div>
</div>