<!DOCTYPE html>
<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<h2>Welcome Home!</h2>
		<p>This is a project for the course M7012E Pervasive Computing</p>
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<h3>About the project</h3>

		<div class="panel">
			<p>In this project we will try to implement the functionality of a smart house as easy as possible to the user.</p>
			<p>Some functionalities include are the following:</p>
			<p>  The user can add new sensors and actuators.</p>
			<p>  It is possible to define rules joining the sensors and the actuators.</p>
			<p>  The user can watch the different records of the sensor during some hours</p>
		</div>

	    <div class="row">
	      <div class="large-6 columns">
	        <p><a href="/about" class="small button">Contact us</a></p>
	      </div>
	    </div>

	</div>

	<div class="large-4 columns">
		<h4>Behaviours</h4>
		<p>In this page you will see the current rules and you would be able to add new ones. You can also add new sensors.</p>
		<a href="/behaviors" class="button radius">Go to behaviors &raquo</a>

		<h4>Records</h4>
		<p>In this page you can see the data stored in the database by the different sensors.</p>
		<a href="/records" class="button success">Go to records &raquo</a>
	</div>

</div>
