<!DOCTYPE html>
<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<h2>Welcome Home!</h2>
		<p>This is a project for the course M7012E Pervasive Computing</p>
		<hr />
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<h3>Live Information</h3>

		<div class="row">
			<div class="large-12 columns">
				<div class="panel">
					<p>Here comes the information about the temperature</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<div class="panel">
					<p>Here comes the information about the lights</p>
				</div>
			</div>
		</div>


	    <div class="row">
	      <div class="large-6 columns">
	        <p><a href="/about" class="small button">About</a></p>
	      </div>
	    </div>

	</div>

	<div class="large-4 columns">
		<h4>Change temperature</h4>
		<p>Here we can add some buttons to change some parameters related to the temperature</p>
		<a href="#" class="button alert">Up</a>
		<a href="#" class="button radius">Down</a>

		<h4>Change lights</h4>
		<p>Here we can add some buttons to change some parameters related to the lights</p>
		<a href="#" class="button success">More ligth</a>
		<a href="#" class="button success">Less light</a>
	</div>

</div>
