<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/custom.css">
  <title><%=title%></title>
  <script src="script/vendor/custom.modernizr.js"></script>

</head>


<body>

	<!--top-bar-->
	<nav class="top-bar" data-options="is_hover:false">

        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Home</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li class="divider hide-for-small"></li>
            <li><a href="/behaviors">Behaviors</a></li>
            <li class="has-dropdown"><a href="#">Records</a>
              <ul class="dropdown">
                <li><a href="/records_temperature">Temperature</a></li>
                <li class="divider"></li>
                <li><a href="/records_lights">Light</a></li>
              </ul>
            </li>
          </ul>
        </section>

    </nav>

	<%- body%>

	<!--scripts-->
	<script>
	  	document.write('<script src=' +
	    ('__proto__' in {} ? 'script/vendor/zepto' : 'script/vendor/jquery') + '.js><\/script>')
  	</script>
  
  	<script src="script/foundation.min.js"></script>

  	<script>
    	$(document).foundation();
  	</script>

</body>
</html>
